<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>READ</title>
    <link rel="stylesheet" href="/stylesheets/read-page.css">
</head>
<body>
    <div class="main">
        <h1>All users</h1>
        <div class="users">
            <% users.forEach(function(user) { %>
                <div class="user">
                    <div class="img">
                        <img src="<%= user.imageurl %>" alt="...">
                    </div>
                    <div class="user-info">
                        <h2> <%= user.name %> </h2>
                        <h4><%= user.email %></h4>
                    </div>
                    <div class="customize-btns">
                        <a href="">Edit user</a>
                        <a href="">Delete users</a>
                    </div>
                </div> 
           <% }); %>
        </div>
        <div class="nav-btn">
            <a href="/">BACK TO HOME</a>
        </div>
    </div>
</body>
</html>